@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');



.pagina-cliente {

    .mae {
        background-color: #fff;
        flex-direction: column;

        .cabeçalho {
            width: 100%;
            height: auto ;
            padding-top: 5px;
            gap: 25%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
    
            img {
                width: 5%;
                height: 5%;
            }
    
            h1 {
                font: 500 50px 'Faculty Glyphic';
                color: black;
            }
            
            p{
                font: 400 24px 'Faculty Glyphic';
            }
        }

        .painel {
            h1 {
                font: 400 24px 'Faculty Glyphic';
                color: black;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }
            .icone{
                width: 28px;
                height: auto;
            }
        }
    }

    .pl {
        display: flex;
        align-items: center;
        flex-direction: column;


        img {
            margin-left: 15px;
            width: auto;
            height: 100px;
        }

        h1 {
            font: 400 24px 'Faculty Glyphic';
        }
    }
}