@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

.pagina-login{

    .botao-login{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: 30px;
        background-color: #F0B35B;
        color: #000000;
        width: 54%;
        height: 10%;
        border-radius: 25px;
    }

    .corpo{
        height: auto;

        
        .direita{
            display: flex;
            flex-direction: row;
            color: #ffffff;
            width: 100%;
            height: 750px;
            background-color: #4d4d4d;
            
        
            .esquerda{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                color: #ffffff;
                width: 44%;
                height: 750px;
                background-color: #000000;
                border-radius: 5%;
                gap: 48px;

                h1{
                    font-size: 4.5em;
                    font-family: "Pirata-One";
                    margin-bottom: 105px;   
                }
                h2{
                    font-size: 2.5em;
                    margin-bottom: 105px;
                }
            }

            .posicao{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 56%;
                gap: 50px;
            
                h1{
                    margin-bottom: 200px;
                    font-size: 4.0em;
                }
            }
        }
    }
}