@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.area-introducao{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffff;
    height: 700px;

    .barber{
        font-size: 110px;
        font-family: "Pirata One";
        padding-bottom: 80px;
    }

    .titulo-text{
        padding: 35px 0px 20px 0px;
        font-size: 44px;
        width: 700px;
        text-align: center;
    }

    .introducao{
        font-size: 28px;
        text-align: center;
        justify-content: center;    
        width:  700px;
        padding-top: 40px;
    }

    .baixo{
        padding-top: 50px;
    }
}

.area-sobre{
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #fffffffd;
    width: auto;
    height: 700px;
    padding-bottom: 65px;


    .trabalhos{
        display: flex;
        width: 45%;
        height: auto;

        img{
            width: 90%;
            height: auto;
        }
    }

    .sobre{
        display: flex;
        flex-direction: column;
        gap: 19px;
        width: 647px;

        .titulo-sobre{
            font: 700 40px;
            gap: 10px;
        }
        .text-sobre{
            font-size: 17px;
            text-align: start;
        }
        .horario{
            font: 700 17px;
        }
    }
}

.area-servicos {
    padding-top: 75px;
    
    .textos {
        background-color: #000; 
        color: #fff; 
        text-align: center; 
        padding: 20px;
        
        h1 {
            font: 600 40px 'Poppins';
            margin-bottom: 10px;
        }

        p {
            font: 300 16px 'Poppins';
            max-width: 730px;
            margin-left: 270px;
            margin-bottom: 100px;
        }
    }

    .cardes {
            border: 1px solid #f00;
            display: flex;
            justify-content: space-around; 
            padding: 20px;

            .card {
                background-color: #fff; 
                border-radius: 10px;
                width: 270px;
            }

            img {
                width: 270px;
            }
            
            h2 {
                font: 700 16px 'Poppins';
                margin-left: 10px;
            }

            p {
                font: 200 14px 'Poppins'; 
                color: #000000;
            }

            .precos-cardes{
                border: 1px solid #f00;
                background-color: #080B16;
                color: #ffffff;
                display: flex;
                justify-content: center;
                align-items: center; 
                width: 70px;
                height: 23px;
                border-radius: 9px;
                margin: -2px -5px -10px 180px;
            }
        }
}
