@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.area-introducao{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffff;
    height: 700px;

    .barber{
        font-size: 110px;
        font-family: "Pirata One";
        padding-bottom: 80px;
    }

    .titulo-text{
        padding: 35px 0px 20px 0px;
        font-size: 44px;
        width: 700px;
        text-align: center;
    }

    .introducao{
        font-size: 28px;
        text-align: center;
        justify-content: center;    
        width:  700px;
        padding-top: 40px;
    }

    .baixo-botao{
        padding-top: 50px;
    }
}

.area-sobre{
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #fffffffd;
    width: auto;
    height: 700px;
    padding-bottom: 65px;


    .trabalhos{
        display: flex;
        width: 45%;
        height: auto;

        img {
            width: 600px;
            height: auto;
        }
    }

    .sobre{
        display: flex;
        flex-direction: column;
        gap: 19px;
        width: 660px;

        .titulo-sobre{
            font: 720 40px 'Poppins';
            gap: 10px;
        }
        .texto-sobre{
            font: 400 16px 'Poppins';
        }
        .horario{
            font: 700 16px 'Poppins';
            text-align: start;
        }
    }
}

.area-servicos {
    justify-content: center;
    padding-top: 75px;
    height: auto;
    
    .textos {
        background-color: #000; 
        color: #fff; 
        text-align: center;
        padding: 20px;
        
        h1 {
            font: 600 40px 'Poppins';
            margin-bottom: 10px;
        }

        p {
            font: 300 16px 'Poppins';
            max-width: 730px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 100px;
        }
    }

    .cardes {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        gap: 80px;

        .mae { // NAO MEXE PORRA 
            display: flex;
            justify-content: center;
            padding-bottom: 150px;
            gap: 50px;

            .card {
                background-color: #fff; 
                border-radius: 10px;
                width: 270px;
    
                img {
                    width: 270px;
                    border-radius: 10px 10px 0px 0px;
                }
    
                .baixo-carde{
                    width: auto;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                    gap: 40px;
    
                    h2 {
                        font: 700 16px 'Poppins';
                        margin-left: 10px;
                    }
    
                    p {
                        font: 200 14px 'Poppins'; 
                        color: #000000;
                        text-align: center;
                    }
        
                    .precos-cardes{
                        background-color: #080B16;
                        color: #ffffff;
                        display: flex;
                        justify-content: center;
                        align-items: center; 
                        width: 70px;
                        height: 23px;
                        border-radius: 9px;
                    }
                }
            }
        }
    }
    
    .barbeiros { 
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
        gap: 150px;
        
        .area-barbeiros img {
            border-radius: 15px;
            width: 250px; 
            height: auto;

        } 
        
    
        .apricativos { 
            display: flex; 
            justify-content: center; 
            margin-top: -17px; 
        }
    
        .apricativos img { 
            margin: 0 5px; 
            width: auto; 
            height: 20px; 
        }
    }
}

.area-unidade {
    text-align: center;
    padding: 100px;
    background-color: #fff;

    .titulo-unidade {
        font: 700 40px 'Poppins';
        color: #0D121E;
        margin-bottom: 50px;
    }
}

.unidades { // div mae 
    display: flex;
    justify-content: center;
    gap: 20px;

    .card-unidade {
        width: 300px;
        border-radius: 10px;

        img {
            width: 300px;
            height: auto;
        }

        .info-barbearia {
            background-color: #000 ;
            color: #fff;
            padding: 10px;
            text-align: left;

            .endereço {
                font: 100 14px 'Poppins';
            }

            .cidade {
                font: 200 16px 'Poppins';
            }
        }
    }
}